
<div class="row mt-5">
    <div class="col-sm-8 mx-auto">

        <div class="alert alert-secondary start-option">
            <h1>Zen Game</h1>
            <p>Zen Game is a super awesome game, Try it now!</p>
            <hr />
            <div class="text-center">
                <button @onclick="@(async()=>await StartCallback.InvokeAsync(true))"
                        class="btn btn-outline-secondary px-3">
                    Start
                </button>
            </div>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> StartCallback { get; set; }

}
